version: 2.1

executors:
  docker-executor:
    docker:
      - image: keldaio/circleci-blimp
    working_directory: /go/src/github.com/kelda/blimp

jobs:
  build:

    executor: docker-executor

    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Build
          command: make

  upload-release:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: Upload Release
          command: |
            docker login gcr.io --username _json_key --password "${DOCKER_KEY}"
            ./scripts/upload_release.sh

  lint:
    docker:
      - image: golangci/golangci-lint
    steps:
      - checkout
      - run: golangci-lint run -v

workflows:
  version: 2

  pr:
    jobs:
      - build
      - lint

  build-push-tag:
    jobs:
      - build:
          filters: # Required since `upload-release` depends on `build`.
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - upload-release:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
