version: 2.1

executors:
  docker-executor:
    docker:
      - image: keldaio/circleci-blimp
    working_directory: /go/src/github.com/kelda/blimp

jobs:
  build:
    executor: docker-executor
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Build
          command: make

  push-docker-tagged:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Push Docker image
          command: |
            docker login --username kelda-bot --password "${DOCKER_KEY}"
            BLIMP_DOCKER_REPO=keldaio VERSION=${CIRCLE_TAG} make push-docker

  push-docker-latest:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Push Docker image
          command: |
            docker login --username kelda-bot --password "${DOCKER_KEY}"
            BLIMP_DOCKER_REPO=keldaio VERSION=latest make push-docker

  upload-release:
    executor: docker-executor
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Upload Release
          command: |
            docker login --username kelda-bot --password "${DOCKER_KEY}"
            ./scripts/upload_release.sh

  lint:
    docker:
      - image: golangci/golangci-lint
    steps:
      - checkout
      - run: golangci-lint run -v

workflows:
  version: 2

  pr:
    jobs:
      - build
      - lint

  build-push-latest:
    jobs:
      - push-docker-latest:
          filters:
            branches:
              only: master

  build-push-tag:
    jobs:
      - build:
          filters: # Required since `push-docker-tag` depends on `build`.
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - upload-release:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - push-docker-tagged:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
