<configuration version="30">
    <gui enabled="false"></gui>
    <folder id="zj2AA-q55a7" path="/var/syncthing/test" type="sendreceive"
        rescanIntervalS="30" fsWatcherEnabled="true" fsWatcherDelayS="1"
        autoNormalize="true">
        <device id="K6QHA3P-VGHXBZE-2NILDY3-Y4E2EUU-7DCSOVF-DFVCQRM-P5BVGMB-LDLP6QA"/>
        <device id="ROHA7NN-4KWKQ3Q-CHJMZBK-6UD7Z6D-ZTWQR5C-TYLN6WG-Q2EQJAI-JU73EQN"/>
        <order>oldestFirst</order>
        <ignoreDelete>false</ignoreDelete>
        <maxConflicts>-1</maxConflicts>
        <markerName>.st_kelda</markerName>
    </folder>
    <device id="K6QHA3P-VGHXBZE-2NILDY3-Y4E2EUU-7DCSOVF-DFVCQRM-P5BVGMB-LDLP6QA" compression="always"/>
    <device id="ROHA7NN-4KWKQ3Q-CHJMZBK-6UD7Z6D-ZTWQR5C-TYLN6WG-Q2EQJAI-JU73EQN" compression="always"/>
    <options>
        <listenAddress>tcp://0.0.0.0:22000</listenAddress>
        <globalAnnounceEnabled>false</globalAnnounceEnabled>
        <localAnnounceEnabled>false</localAnnounceEnabled>
        <reconnectionIntervalS>10</reconnectionIntervalS>
        <relaysEnabled>false</relaysEnabled>
        <startBrowser>false</startBrowser>
        <natEnabled>false</natEnabled>
        <urAccepted>-1</urAccepted>
        <restartOnWakeup>false</restartOnWakeup>
        <autoUpgradeIntervalH>0</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>false</cacheIgnoredFiles>
        <overwriteRemoteDeviceNamesOnConnect>false</overwriteRemoteDeviceNamesOnConnect>
        <defaultFolderPath></defaultFolderPath>
        <setLowPriority>false</setLowPriority>
        <crashReportingEnabled>false</crashReportingEnabled>
        <stunServer></stunServer>
    </options>
</configuration>
